body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 30px;
    
}
h2{
    font-size: 50px;
    color: maroon;
}
.another{
    color: orange;
}
.ekshathe{
    color: maroon;
}
h3{
    font-size: 15px;
    color: rgb(4, 62, 62);
}
.flexible-container{
    display: flex;
    margin-bottom: 10%;
}
.halfwidth{
    width: 100%;
    padding-left: 5%;
   
    
}
.halfwidth img{

    width: 80%;
}
.opnbutton{
    text-decoration-color: none;
    background-color: rgb(243, 91, 49);
    padding: 10px 40px;
    border-radius: 5px ;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png) ;
    background-repeat: no-repeat;
}
.dreambig{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.orangii{
    color: orange;
}
.expoclr{
color: brown;
}
.expoitem{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    box-shadow: 10px 10px 40px grey ;
    border-radius: 10%;
    border-left: 10px solid blueviolet;
}
.expo{
    background-image: url(images/exp-bg.png);
background-repeat: no-repeat;
background-position: left;
}
#red{
    border-left: 10px solid red;
}
footer{
    text-align: end;
}